{% set topGenres = craft.categories.group('genre').limit(5).all() %}
{% set recent = craft.entries.section('contentPosts').limit(6).all() %}

<div class="w-full h-auto mt-10 md:mt-20 lg:mt-32" style="background-color: #212121;">

  <div class="grid lg:grid-cols-2 px-2 md:px-10 lg:px-20 pt-2 pb-4">

    <div class="mt-4 mb-3 px-2">
      <div class="mt-2 mb-4">
        {% include '_includes/search-bar.twig' %}
        <a href="{{ currentSite.baseUrl ~ 'search' }}" class="text-blue-600 inline text-sm md:text-base lg:text-lg hover:underline hover:text-blue-400">Advanced Search</a>
      </div>

      <div class="text-white font-medium text-lg md:text-xl lg:text-2xl mb-3">
        <h1 class="inline-block mr-2">Most Popular Genre's</h1>
        <a href="{{ currentSite.baseUrl ~ 'genres' }}" class="border border-white px-2 inline-block text-xs md:text-sm lg:text-base hover:bg-white hover:text-black">Views all</a>
      </div>
      <ul class="grid grid-cols-2 ml-0.5">
        {% for item in topGenres %}
          <li><a class="text-gray-200 text-sm md:text-base lg:text-lg capitalize hover:text-blue-500 hover:underline" href="{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="mt-4 mb-3 px-2">
      <div class="text-white font-medium text-lg md:text-xl lg:text-2xl mb-3">
        <h1 class="inline-block mr-2">Recent posts</h1>
      </div>
      <ul class="ml-0.5">
        {% for item in recent %}
          <li><a class="text-gray-200 text-sm md:text-base lg:text-lg capitalize hover:text-blue-500 hover:underline" href="{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </div>

  </div>

  <div class="w-11/12 text-gray-300 py-4 mx-auto text-center">
    <p class="text-xs md:text-sm py-1 border-t">Copyright &copy; 2021 All rights reserved Sinopview</p>
    <p class="text-xs md:text-sm">Design & Development by Ivan Nircahya</p>
  </div>
</div>