{% extends 'layout/_basic_layout' %}


{% set pagBtn = 'inline-block border border-gray-400 w-8 h-8 md:w-10 md:h-10 p-1 text-md md:text-lg lg:text-xl hover:bg-black hover:text-white' %}

{% set cat = craft.app.request.queryParam('category') ?? '' %}
{% set search = craft.app.request.queryParam('search') ?? '' %}
{% set category = null %}

{% if cat is not empty %}
  {% set category = craft.categories
    .slug(cat)
    .one()
  %}
{% endif %}

{% set postQuery = craft.entries
  .section('contentPosts')
  .relatedTo(category)
  .search(search)
  .limit(3)
%}

{% block content %}

  <div class="bg-gray-700 pb-4 px-2 md:px-4 lg:px-6 pt-16">
    {% include "components/_search-bar.twig" %}
    {% if search is not empty %}
      <div class="text-gray-300 my-2 text-sm md:text-base lg:text-lg">
        Search result for: {{ '"' ~ search ~ '"' }}
      </div>
    {% endif %}
  </div>

  {% if postQuery|length %}

    {% paginate postQuery as posts %}

    <div class="flex justify-center mx-auto">
      
      <div class="grid md:grid-cols-3 gap-x-12 gap-y-12 justify-between mx-4">
        {% for item in posts %}
          {%
            include "components/_cover.twig" with{
              'content': item,
              'margin': 'm-auto',
            }
          %}
        {% endfor %}
      </div>
    </div>

    <div class="mt-6 text-center space-x-2">
      <a class="{{ pagBtn }}" href="{{ paginate.firstUrl }}">&#8920;</a>

      {% if paginate.prevUrl %}<a class="{{ pagBtn }}" href="{{ paginate.prevUrl }}">&#8810;</a>{% endif %}
    
      {% if paginate.currentPage == paginate.totalPages %}
        {% set prevBtnLen = 2 %}        
      {% else %}
        {% set prevBtnLen = 1 %}
      {% endif %}

      {% for page, url in paginate.getPrevUrls(prevBtnLen) %}
        <a class="{{ pagBtn }}" href="{{ url }}">{{ page }}</a>
      {% endfor %}
    
      <span class="{{ pagBtn }} bg-black text-white cursor-pointer">{{ paginate.currentPage }}</span>

      {% if paginate.currentPage == 1 %}
        {% set nextBtnLen = 2 %}        
      {% else %}
        {% set nextBtnLen = 1 %}
      {% endif %}
    
      {% for page, url in paginate.getNextUrls(nextBtnLen) %}
        <a class="{{ pagBtn }}" href="{{ url }}">{{ page }}</a>
      {% endfor %}
    
      {% if paginate.nextUrl %}<a class="{{ pagBtn }}" href="{{ paginate.nextUrl }}">&#8811;</a>{% endif %}
    
      <a class="{{ pagBtn }}" href="{{ paginate.lastUrl }}">&#8921;</a>
    </div>
  

  {% else %}

    <div class="pt-28 md:pt-40 lg:pt-52 mx-2 md:mx-20 lg:mx-60">
      <div class="bg-gray-200 text-lg md:text-xl lg:text-2xl py-6 px-2 shadow-md text-center">
        Sorry, but There's are no titles match with your search >_<
      </div>
    </div>
    
  {% endif %}


{% endblock %}