{% set infoText = 'inline font-normal text-xs md:text-sm lg:text-base' %}

<div class="text-black pt-16 md:pt-20 lg:pt-24 mx-2 md:mx-6 lg:mx-16 xl:mx-32">
  <h1 class="mx-auto font-serif font-medium whitespace-nowrap w-min border-b border-black text-3xl md:text-4xl lg:text-5xl">{{ entry.title }}</h1>
  <div class="grid sm:grid-cols-4 sm:gap-x-2 mt-2">
    <div class="sm:col-span-1">
      <div class="">
        <img src="{{ entry.coverImage[0].url }}" alt="Cover Image">
      </div>
      <div class="font-medium space-y-2">
        <div>Title: <p class="{{infoText}}">{{ entry.title }}</p></div>
        <div>Genres: 
          <p class="{{infoText}} my-1">
            {% for item in entry.genre.all() %}
              <a class="bg-gray-200 px-1 whitespace-nowrap text-blue-700 hover:bg-gray-800 hover:text-blue-300" href="{{item.url}}">{{ item.title }}</a>
            {% endfor %}
          </p>
        </div>
        <div>Author: <p class="{{infoText}}">{{ entry.author }}</p></div>
        <div>Publisher: <p class="{{infoText}}">{{ entry.publisher }}</p></div>
        <div>Release date: <p class="{{infoText}}">{{ entry.releaseDate|date('d M Y') }}</p></div>
        <div>Score: 
          {% if entry.score is not null %}
            {{ entry.score }} <p class="{{infoText}}">(Scored by {{ entry.scoreBy|currency('USD', stripZeros=true)|replace({'$':''}) }} Users)</p>
          {% else %}
            n/a
          {% endif %}
        </div>
      </div>
    </div>

    <div x-data="{ show: false }" class="sm:col-span-3 mt-4">
      {% for key, paragraph in entry.multiParagraph %}
        <div class="block bg-gray-400 text-black text-base md:text-lg lg:text-xl font-medium">
          <button @click="show !== {{ key }} ? show = {{ key }} : show = false" style="outline: none;" class="relative w-full py-1 px-2">
            <span class="float-left mt-1">{{ paragraph.header }}</span>
            <span class="absolute transform right-2 mt-1 text-sm md:text-base lg:text-lg"
                :class="{'accord-btn-flip': show === {{key}}, 'accord-btn-norm': show !== {{key}}}">
              &#9660;
            </span>
          </button>
        </div>
        <div class="block bg-gray-200 text-xs md:text-sm lg:text-base text-black p-1">
          <div :class="{'accordion-closed': show !== {{key}}, 'accordion-open': show === {{key}}}" x-cloak style="text-indent: 10px;">{{ paragraph.body }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
  
  <div class="mt-16 md:mt-24 lg:mt-32 pt-2 px-2 border-t border-gray-400">
    {{ disqusEmbed(entry.slug, entry.title, entry.url) }}
  </div>
  
</div>