{% set infoText = 'inline font-normal text-sm md:text-md lg:text-lg' %}

<div class="text-black pt-16 md:pt-20 lg:pt-24 md:mx-6 lg:mx-40">
    
  <div class="mx-auto font-serif font-medium whitespace-nowrap w-min border-b border-black text-3xl md:text-4xl lg:text-5xl">{{ entry.title }}</div>
  <div class="grid md:grid-cols-3">
    <div class="col-span-1 py-4 px-2">
      <img src="{{ entry.coverImage[0].url }}" alt="Cover">
    </div>
    <div class="col-span-2 font-medium mb-4 px-2 space-y-2 mt-2 text-md md:text-lg lg:text-xl lg:py-6">
      <div>Title: <p class="{{infoText}}">{{ entry.title }}</p></div>
      <div>Genres: 
        <p class="{{infoText}}">
          {% for item in entry.genre.all() %}
            <a class="bg-gray-200 px-2 py-0.5 text-blue-700 hover:bg-gray-800 hover:text-blue-300" href="{{item.url}}">{{ item.title }}</a>
          {% endfor %}
        </p>
      </div>
      <div>Author: <p class="{{infoText}}">{{ entry.author }}</p></div>
      <div>Publisher: <p class="{{infoText}}">{{ entry.publisher }}</p></div>
      <div>Release date: <p class="{{infoText}}">{{ entry.releaseDate|date('d M Y') }}</p></div>
      <div>Score: 
        {% if entry.score is not null %}
          {{ entry.score }} <p class="{{infoText}}">(Scored by {{ entry.scoreBy|currency('USD', stripZeros=true)|replace({'$':''}) }} Users)</p>
        {% else %}
          n/a
        {% endif %}
      </div>
    </div>
  </div>

  <div class="py-2 px-4 bg-gray-100 shadow-md">
    <h1 class="font-medium font-serif mb-2 ml-8 w-min border-b border-black text-lg md:text-xl lg:text-2xl">Synopsis:&emsp;</h1>
    <span class="text-md lg:text-lg w-full" style="text-indent: 20px;">{{ entry.paragraph }}</span>
  </div>
  
  <div class="mt-16 md:mt-24 lg:mt-32 pt-2 px-2 border-t border-gray-400">
    {{ disqusEmbed(entry.slug, entry.title, entry.url) }}
  </div>
  
</div>